@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Stick+No+Bills:wght@500;600&display=swap");

body {
  background-image: url("images/space.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Stick No Bills", sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

textarea {
  width: 50%;
  height: 20vh;
  padding: 1rem;
  margin: auto;
  border: 3px solid white;
  background-color: #00000090;
  border-radius: 20px;
  display: block;
  font-family: "Stick No Bills", sans-serif;
  font-size: x-large;
  font-weight: 500;
  color: white;
  text-align: center;
}

#text-output {
  border: 3px solid white;
  background-color: #00000090;
  width: 50%;
  height: 20vh;
  padding: 1rem;
  margin: auto;
  border-radius: 20px;
  font-family: "Stick No Bills", sans-serif;
  font-size: x-large;
  font-weight: 500;
  color: white;
}

#btn-translate {
  display: block;
  padding: 0.4rem 2rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  color: #f1faee;
  background-color: black;
  border: 0.1rem solid white;
  width: 20%;
  box-sizing: border-box;
}

#btn-translate:hover {
  color: black;
  background-color: white;
}

#wrapper {
  text-align: center;
}

#limit {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}

::placeholder {
  color: white;
}

/**footers **/

/** lists **/
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.footer {
  background-color: transparent;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
